body {
    background-color: white;
}

.Azulnegritas{
        color: blue;
        font-weight: bold;  
        text-align: center;
        border-style: outset;
    }
.VerdeSin{
    color: green;
    font-weight:normal;
    }
.SinEstilo {
        color: initial;
        font-weight: normal;

    }
.Parrafo,p{
        color: green;
    }
.amarillo{
    color: yellow;
}